/* Body default */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 20px;
}

nav .logo {
  font-family: "Rallomy", cursive;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 15px;
  color: black;
}

nav .favorite {
  width: 25px;
  position: absolute;
  left: 1430px;
}

nav .bag {
  width: 20px;
  position: absolute;
  left: 1392px;
}

nav ul {
  list-style: none;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* menengahkan ul */
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li {
  margin-left: 40px;
  font-size: 15px;
}

nav ul li a {
  position: relative;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  padding: 6px 0;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: black;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: #555;
  transform: translateY(-2px);
}

nav ul li a:hover::after {
  width: 100%;
}

#home:target ~ nav a[href="#home"]::after,
#about:target ~ nav a[href="#about"]::after,
#products:target ~ nav a[href="#products"]::after,
#contact:target ~ nav a[href="#contact"]::after {
  width: 100%;
}

/* Hero */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

p.logo {
  color: white;
  font-family: "Rallomy", cursive;
  font-size: 300px;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

p.welcome {
  color: white;
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  line-height: 1.6;
  padding: 0 20px;
  top: 85%;
  /*50%dariatascontainer*/
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.isi {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.box {
  font-family: "Raleway", sans-serif;
}

.box h3 {
  margin: 0 0 12px 0;
  font-size: 22px;
  font-weight: 700;
}

.box p {
  text-align: justify;
  margin: 0;
  color: bla;
  font-size: 14px;
  line-height: 1.6;
}

/* products */

.catalog {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 60px;
  padding: 40px 160px;
}

input {
  display: none;
}

/* SIDEBAR */
.sidebar h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 40px;
}

.sidebar label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.75;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  transition: font-weight 0.3s ease, opacity 0.3s ease;
}

.sidebar label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #ccc;
  transition: width 0.35s ease;
}

/* hover only */
.sidebar label:hover {
  opacity: 1;
}

.sidebar label:hover::after {
  width: 28px;
}

/* PRODUCTS */
.products {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  background: #f6f6f6;
}

.name {
  margin-top: 12px;
  font-weight: 600;
}

.price {
  margin-top: 6px;
  font-size: 14px;
}

/* ACTIVE STATE */
#bag:checked ~ .sidebar label[for="bag"],
#footwear:checked ~ .sidebar label[for="footwear"],
#accessories:checked ~ .sidebar label[for="accessories"],
#headwear:checked ~ .sidebar label[for="headwear"],
#jewelry:checked ~ .sidebar label[for="jewelry"],
#textile:checked ~ .sidebar label[for="textile"] {
  font-weight: 600;
  opacity: 1;
}

#bag:checked ~ .sidebar label[for="bag"]::after,
#footwear:checked ~ .sidebar label[for="footwear"]::after,
#accessories:checked ~ .sidebar label[for="accessories"]::after,
#headwear:checked ~ .sidebar label[for="headwear"]::after,
#jewelry:checked ~ .sidebar label[for="jewelry"]::after,
#textile:checked ~ .sidebar label[for="textile"]::after {
  width: 28px;
}

/* SHOW PRODUCTS */
#bag:checked ~ .bag,
#footwear:checked ~ .footwear,
#accessories:checked ~ .accessories,
#headwear:checked ~ .headwear,
#jewelry:checked ~ .jewelry,
#textile:checked ~ .textile {
  display: grid;
}

/* CONTACT */

.contact {
  padding: 80px 120px;
}

.contact h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 80px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 40px;
}

.contact-info {
  width: 40%;
}
.contact-info h3 {
  width: 40%;
  margin-top: 0;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  margin-bottom: 16px;
}

.icon {
  width: 20px;
  height: 20px;
}

/* FORM */
.contact-form {
  width: 50%;
  font-family: ral;
}

.contact-form label {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  padding: 12px 0;
  margin-bottom: 32px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  color: #000;
}

.contact-form textarea {
  min-height: 80px;
  resize: none;
}

.contact-form button {
  font-family: "Raleway", sans-serif;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  float: right;
}

/* Footer */
.fill {
  background-color: #d9d9d9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
}

.quick {
  width: 12px;
  height: 12px;
  transition: color 0.3s;
}

.klik {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.klik a {
  font-size: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.klik a:hover {
  color: #555;
  text-decoration: none;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
  transform: translateY(-2px);
}

.press {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  margin-bottom: 16px;
}

.info {
  font-size: 15px;
}

.copyright {
  background-color: #d9d9d9;
  text-align: center;
  padding-bottom: 25px;
  font-size: 14px;
}
